.list-group {
  max-height: 85vh;
  margin-bottom: 10px;
  overflow: hidden;
  overflow-y: scroll;
}

.task.panel{
  border: none;
  box-shadow: none;
  margin-bottom: 0px;
  &> .panel-body {
    height: 85vh;
    max-height: 85vh;
    overflow-y: auto;
  }
}
